@import url("https://cdnjs.cloudflare.com/ajax/libs/Iosevka/6.0.0/iosevka/iosevka.min.css");

:root {
  --font-family: Iosevka Web;
  --background-color: #282828;
  --color: #eddbb2;
  --link-color: #83a598;
  --visited-color: #b16286;
  --code-background-color: #3c3836;
  --code-color: #ebdbb2;
  --blockquote-color: #a89984;
}

* {
  cursor: url("../media/cursor.png"), auto;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--color);
  padding: 10px;
  width: 50%;
  margin: auto;
}

.fourzerofour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0px;
  width: 12rem;
  height: 5rem;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
}

.fourzerofour h1 {
  font-size: 48px;
}

.about {
  display: flex;
  align-items: center;
  gap: 24px;
}

.pfp img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 192px;
  max-height: 192px;
  border-radius: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  color: var(--color);
}
a {
  color: var(--link-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  color: var(--color);
}
a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
strong,
b {
  color: var(--color);
}
button {
  margin: 0;
  cursor: pointer;
}
main {
  line-height: 1.6;
}
table {
  width: 100%;
}
hr {
  border: 0;
  border-top: 1px dashed;
}
img {
  max-width: 100%;
}
pre code {
  background-color: var(--code-background-color);
  color: var(--code-color);
  display: block;
  padding: 20px;
  white-space: pre-wrap;
  font-size: 0.875rem;
  overflow-x: auto;
}
code {
  font-family: var(--font-family);
  padding: 2px;
  background-color: var(--code-background-color);
  color: var(--code-color);
  border-radius: 3px;
}
blockquote {
  border-left: 1px solid #999;
  color: var(--code-color);
  padding-left: 20px;
  font-style: italic;
}
footer {
  padding: 25px 0;
  text-align: center;
}
